.user_img{
    width: 28px;
    cursor: pointer;
}
.statsicon{
    font-weight: bold;
    font-size: 25px;
}
.naviconbar{
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.backtohome{
    cursor: pointer;
    border-radius: 5px;
    padding: 0px 5px;
    font-family: monospace;
    font-weight: bold;
}
.backtohome:hover{
    background-color: rgba(0, 47, 255, 0.253);
}
.upgradebtn{
    background-color: white;
    border: 1px solid #dc3545;
    border-radius: 7px;
    padding: 4px;
 }
 .upgradebtn:hover{
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: white;
    border-radius: 7px;
    padding: 4px;
 }
 .textvalue{
     font-size: 12px;
     margin-right: 10px;
 }
 .dashbdicon{
     margin-right: 5px;
 }