.chat-area{
    background: linear-gradient(3deg, rgba(16,2,222,1) 0%, rgba(0,0,0,1) 99%);
    padding: 20px;
height: 60vh;
overflow-y: scroll;
border-radius: 10px;
border: 1px solid lightgray;
}
.chat-area::-webkit-scrollbar{
    width: 7px;
    border-radius: 5px;
    background-color: blue;
    border: 1px solid blue;
    
}
.chat-area::-webkit-scrollbar-thumb{
    background: linear-gradient(3deg, rgba(2,2,15,1) 0%, rgb(23, 5, 73) 99%);
    border-radius: 5px;
}


.chat_icon{
    width: 29px;
}
.chat_row{
    display: flex;
    margin-top: 9px !important;
}
.chat_name{
    font-size: 15px;
    padding-left: 15px;
}
.chat_time{
    color: white;
    font-size: 11px;
    padding-left: 30px;
    padding-top: 2px;
}
.chat_text{
    /* margin-left: 43px;
    margin-top: 0px; */
    width: fit-content;
    margin-top: 8px;
    
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(231,216,216,0.8715861344537815) 99%);
    border-radius: 5px;
    padding: 12px;
}
.chat_text p{
   margin: 0px;
   padding: 0px;
}
.chat_end_text{
    margin-right: 43px;
    margin-top: 0px;
    padding: 9px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(231,216,216,0.8715861344537815) 99%);
    border-radius: 5px;
    width: fit-content;
    display: flex;
    justify-content: end;
}
.chat_end_text p{
   margin: 0px;
   padding: 0px;
}
.chat_end_row{
    display: inline-flex;

}
.chat_end_icon{
    width: 29px;
}
.chat_end_name{
    font-size: 15px;
    padding-left: 0px;
    padding-right: 15px;
}
.chat_end_time{
    color: white;
    font-size: 11px;
    padding-right: 30px;
    padding-top: 2px;
}

.text_area_padding{
    width: 100%;
    
}
.replybtn{
    padding: 20px 0px;
}
.custom_fluid{
    width: 100% !important;
    transition: .7s;
}
.custom_text_area{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.replymaindic{
    border: 1px solid rgba(211, 211, 211, 0.288);
    border-radius: 10px;
}
.openprofinfo{
    padding: 0px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    color: rgb(248, 248, 248);
    background-color: rgb(11, 11, 133);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    transition: 1s;
}
.openprofinfo2{
    padding: 0px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    color: rgb(248, 248, 248);
    transition: 1s;
    background-color: rgb(11, 11, 133);
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}
.header_chat{
    margin-top: 5px !important;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(208, 208, 224);
    display: flex;
    justify-content: space-between;
    transition: .7s;
}
.callicon{
    border: 1px solid lightgray;
    font-size: 20px;
    border-radius: 5px;
    padding: 3px;
    color: blue;
    cursor: pointer;
    background-color: lightblue;
}
.display_header{
    display: flex;
}
.online{
    margin-left: 8px;
    margin-bottom: 0px !important;
    padding: 0px;
}
.videocalldiv{
    border-radius: 5px;
    width: 300px;
}
@media only screen and (max-width: 800px) and (min-width: 400px)  {
    .chat_end_text{
        margin-right: 10px;
    }
}