
.accordion-button:focus{
    box-shadow: none !important;
}
.accordion-button{
    margin-top: 4px !important;
    padding-bottom: 8px !important;
}
.margin_hr{
    margin: 0px !important;
}
.widget_header{
    color: black !important;
    margin-bottom: 0px;
}
.display_widget{
    color: #080f1a;
    font-family: euclidcircularb,sans-serif;
    font-size: 14px;
    line-height: 1.28571429;
}
.check_custom{
    margin-top: -5px !important;
    margin-left: 65px !important;
}
.check_chat{
    padding-left: 85px !important;
}
.display_chat{
    color: #080f1a;
    font-family: euclidcircularb,sans-serif;
    font-size: 14px;
    line-height: 1.28571429;
}
.select_device{
    margin-left: 109px !important;
    border-radius: 0px !important;
}
.hide_screen{
    margin-left: 164px;
    margin-top: 0px;
    font-size: small;
    color: #0566ff !important;
}
.color_small{
    color: #0566ff !important;
}
.form-switch{
    width: 100%;
}
.status_p{
    color: #080f1a;
    font-family: euclidcircularb,sans-serif;
    font-size: 14px;
    line-height: 1.28571429;
}
.custom_form_control{
    margin-top: -20px !important;
}
.status_p_label{
    margin-top: 69px;
    color: #080f1a;
    font-family: euclidcircularb,sans-serif;
    font-size: 14px;
    line-height: 1.28571429;
}
.check_background{
    margin-top: -5px !important;
    margin-left: 0px !important;
}
.img_icon{
    width: 24px;
    text-align: end;
}
.display_buttons{
    display: flex;
}
.left_btn_size{
    width: 120px;
    background-color: #f7f8fc !important;

}
.left_btn_size:focus{
    border-bottom: 1px solid blue !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.btn_group_lg{
    border: 1px solid rgba(107, 98, 98, 0.356);
    border-radius: 0px;
}
.btn_position_size{
    color: #080f1a;
    font-family: euclidcircularb,sans-serif;
    font-size: 14px;
    line-height: 1.28571429;
}
.form-range{
    width: 60% !important;
}
.medium{
    margin-left: 94px !important;
}
.range_area{
    width: 66% !important;
    display: flex;
    justify-content: space-between;
}
.large{
    margin-right: 29px !important;
}
.display_display{
    display: flex;
    /* flex-direction: column; */
}
.question_mark{
    margin-top: -7px;
}
.email{
    margin-bottom: 0px !important;
    font-size: 14px !important;
}
.bg_email{
    background-color: #f7f8fc !important;
    padding: 10px;
}
.email_control{
    padding-left: 12px !important;
    margin-left: 5px !important;
    padding-top: 9px !important;
    width: 280px !important;
}
.permission{
    font-size: 13px !important;
   
    width: 280px;
}
.deleteiconwiget{
    font-size: 25px;
    margin-left: 10px;
    color: gray;
}
.checkbox_icon{
    font-size: 14px !important;
   
}
.delete_btn{
    padding-left: 12px !important;
    margin-left: 5px !important;
}
.delete_padding{
    padding-left: 17px !important;
}
.width_add{
    width: 70% !important;
}
.custom_add{
    margin-left: 12px !important;
    font-size: 11px !important;
}
.custom_width{
    width: 74.666667% !important;
}
.groupbtndata{
    width: 240px;
}
.widget_div{
    border: 1px solid  rgba(150,33,128,0.78);
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 2px 2px 8px 9px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 2px 2px 8px 9px rgba(0,0,0,0);
    padding-bottom: 10px !important;
}
.background_img{
    height: auto;
    width: 300px;
    background-image: url(../../../../images/chat_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
 .img_color{
    background-color: rgba(150, 33, 128, 0.664);
    width: 100%;
    height: 200px;
   display: flex;
    top: 0;
    border: 1px solid red;
    z-index: -2;
} 
.hitheretext h2{
    font-weight: 400;
    font-size: 22px;
    color: white;
    line-height: 50px;
    overflow-wrap: break-word;
    white-space: pre-line;
    -webkit-text-stroke: 0.4px;
    display: flex;
    align-items: center;
    border: 1px solid red;
}
.iconmainduv{
    padding-left: 29px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 30px;
    border: 1px solid red;
}
.emailtext{
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 5px;
}
.askvisitor{
    font-size: 16px;
}
.inputsurvey{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: 1px solid lightblue;
    font-size: 16px;
}
@media only screen and (min-width: 370px) and (max-width: 600px) {
    .display_display{
        display: flex;
        flex-direction: column;
    }
}