.home_link{
    display: flex;
    justify-content: center;
    width: 100%;

}
.register{
    display: flex;
    justify-content: end;
}
.logout{
    text-decoration: none !important;
}
.logout:hover{
    cursor: pointer;
}
.sticky-nav{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: white;
}
.home{
    font-size: 18px !important;
    line-height: 23px !important;
    letter-spacing: -0.01em !important;
    color: #080f1a !important;
}
.reg_padding{
    padding: 8px 24px !important;
    width: 110px;
    border: 2px solid #EFF2F6 !important;
    background-color: white !important;
}
.reg_padding:hover{
    background-color: #080f1a !important;
    color: white !important;
}
.navLinkdiv{
    
    width: 100%;
    display:  flex;
    justify-content: space-between;
}