.inputforget{
    border: 2px solid rgb(3, 255, 242);
    width: 400px;
    margin: auto;
    padding: 40px;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(102, 101, 98, 0.274);
}
.forrpass{
    text-shadow: 1px 1px 10px rgb(0, 183, 255);
    color: white;
}
.subbtn{
    border: 1px solid lightgray;
    border-radius: 8px;
    
    padding: 5px 20px;
    margin: 10px;
    background-color: rgb(3, 49, 255);
    color: white;
   font-size: 20px;
    font-family: serif;
}
