*{
    box-sizing: border-box;
}

.mainheadCustomerServices{
    
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
.btnget{
    display: flex;
    justify-content: center;
}
.getbtn{
    font-size: 22px;
    font-weight: 500;
    background-color: rgb(19, 167, 216);
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
}
.getbtn:hover{
    background-color: rgb(32, 30, 30);
}
.serviceimg{
 background-image: url(../../images/imgcustomer.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 height: 500px;
}
.sometext{
    width: 700px;
    height: 500px;
    text-align: start;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 64px;
    color: rgba(255, 255, 255, 0.863);
    font-weight: 700;
    padding: 40px;
    position: relative;
    top: 6%;
    left: 10%;
}