.trans_head{
    line-height: 64px !important;
    letter-spacing: -0.03em;  
    font-size: 54px !important;
    font-weight: 800 !important;
}
.shadow_trans{
 box-shadow: 1px 1px 13px 1px rgba(0,0,0,0.54);
-webkit-box-shadow: 1px 1px 13px 1px rgba(0,0,0,0.54);
-moz-box-shadow: 1px 1px 13px 1px rgba(0,0,0,0.54);
}