.btncloose{
    border: 1px solid rgb(211, 211, 211);
    width: 70px;
    padding: 3px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    border-radius: 100% 0% 57% 43% / 68% 0% 100% 32% ;
    background-color: gray;
    color: white;
    box-shadow: 1px 1px 5px black;
}
.btnsaave{
    border: 1px solid lightgray;
    width: 70px;
    padding: 3px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    border-radius: 100% 0% 57% 43% / 68% 0% 100% 32% ;
    background-color: rgb(0, 153, 255);
    color: white;
    box-shadow: 1px 1px 5px black;
}
.btncloose:hover{
   background-color: darkslategray;
   cursor: pointer;
}
.btnsaave:hover{
    background-color:  rgb(17, 82, 126);
    cursor: pointer;
}
